body {
    background-color: #90c36f;;
}

.container {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300px;
    font-style: normal;
    
}

.card {
    font-family:"Hind Siliguri", sans-serif ;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    max-width: 300px;
    max-height: 555px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(#d7ff7b, #5da967);
}

.heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: rgb(45, 45, 255);
    margin-top: 5px;
}

.para {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}